/build/
/.cache/
/.tools/
/artifacts/
/.vs/
/.vscode/
*.obj
*.o
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.a
*.so
*.dylib
*.user
*.suo
*.log
.DS_Store
Thumbs.db
/examples/ue5/**/Binaries/
/examples/ue5/**/Intermediate/
/examples/ue5/**/Saved/
/examples/ue5/**/DerivedDataCache/
/examples/ue5/**/*.sln
/examples/ue5/RollbackArena/Content/Maps/
/examples/ue5/RollbackArena/Content/Materials/
